.title1{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 36;
    font-style: normal;
}
.title2{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 32;
    font-style: normal;
}
.title2{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 28;
    font-style: normal;
}
.title4{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 24;
    font-style: normal;
}
.title5{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 20;
    font-style: normal;
}
.subtitle1{
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    font-size: 16;
    font-style: normal;
}
.subtitle2{
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    font-size: 12;
    font-style: normal;
}
.bodytext1{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 20;
    font-style: normal;
}
.bodytext2{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 16;
    font-style: normal;
}
.bodytext2{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 12;
    font-style: normal;
}
.comments{
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 12;
    font-style: normal;
}
.gray1{
    color: #F0F0F0;
}
.gray100{
    color: #E5E8E7;
}
.gray300{
    color: #ABB5B4;
}
.gray500{
    color: #667473;
}
.gray800{
    color: #424949;
}
.gray950{
    color: #242828;
}
.yellow50{
    color: #FFFBEB;
}
.yellow200{
    color: #FCE38B;
}
.yellow400{
    color: #F9BB26;
}
.yellow500{
    color: #F39C12;
}
.yellow600{
    color: #D77408;
}
.white1{
    color: #FFFFFF;
}
.geen1{
    color: #1BB816;
}
.red1{
    color: #E70000;
}