@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(245 245 245);
  font-family: 'Ubuntu';
}

#ubuntu-light {
  font-family: 'Ubuntu', system-ui;
  font-weight: 300;
  font-style: normal;
}

#ubuntu-regular {
  font-family: 'Ubuntu', system-ui;
  font-weight: 400;
  font-style: normal;
}

#ubuntu-medium {
  font-family: 'Ubuntu', system-ui;
  font-weight: 500;
  font-style: normal;
}

#ubuntu-bold {
  font-family: 'Ubuntu', system-ui;
  font-weight: 700;
  font-style: normal;
}

#ubuntu-light-italic {
  font-family: 'Ubuntu', system-ui;
  font-weight: 300;
  font-style: italic;
}

#ubuntu-regular-italic {
  font-family: 'Ubuntu', system-ui;
  font-weight: 400;
  font-style: italic;
}

#ubuntu-medium-italic {
  font-family: 'Ubuntu', system-ui;
  font-weight: 500;
  font-style: italic;
}

#ubuntu-bold-italic {
  font-family: 'Ubuntu', system-ui;
  font-weight: 700;
  font-style: italic;
}

#text2 {
  font-family: 'Ubuntu', system-ui;
  text-align: left;
  font-size: 20px;
  font-style: normal;
  padding: 4px;
}

#text1 {
  font-family: 'Ubuntu', system-ui;
  text-align: left;
  font-size: 24px;
  padding: 4px;
}

#text3 {
  font-family: 'Ubuntu', system-ui;
  text-align: right;
  font-size: 20px;
  font-style: normal;
  padding: 4px;
}

#text5 {
  font-family: 'Ubuntu', system-ui;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #f39c12;
}

#t-sub {
  font-family: 'Ubuntu', system-ui;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
  color: #667473;
}

#logo-sub {
  height: 25px;
  width: 25px;
  flex-shrink: 0;
}

#btn-sub {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 138.462% */
  letter-spacing: 0.16px;
  color: rgba(0, 0, 0, 0.87);
}
