@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(245 245 245);
  font-family: 'Ubuntu';
  padding: 0;
  margin: 0;
}

#ubuntu-light {
  font-family: 'Ubuntu', system-ui;
  font-weight: 300;
  font-style: normal;
}

#ubuntu-regular {
  font-family: 'Ubuntu', system-ui;
  font-weight: 400;
  font-style: normal;
}

#ubuntu-medium {
  font-family: 'Ubuntu', system-ui;
  font-weight: 500;
  font-style: normal;
}

#ubuntu-bold {
  font-family: 'Ubuntu', system-ui;
  font-weight: 700;
  font-style: normal;
}

#ubuntu-light-italic {
  font-family: 'Ubuntu', system-ui;
  font-weight: 300;
  font-style: italic;
}

#ubuntu-regular-italic {
  font-family: 'Ubuntu', system-ui;
  font-weight: 400;
  font-style: italic;
}

#ubuntu-medium-italic {
  font-family: 'Ubuntu', system-ui;
  font-weight: 500;
  font-style: italic;
}

#ubuntu-bold-italic {
  font-family: 'Ubuntu', system-ui;
  font-weight: 700;
  font-style: italic;
}

#text2 {
  font-family: 'Ubuntu', system-ui;
  text-align: left;
  font-size: 20px;
  font-style: normal;
  padding: 4px;
}

#logo-sub {
  height: 25px;
  width: 25px;
  flex-shrink: 0;
}

#btn-sub {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 138.462% */
  letter-spacing: 0.16px;
  color: rgba(0, 0, 0, 0.87);
}
.promo-slider {
  max-width: 100%;
  overflow: hidden;
}

@media (min-width: 1320px) {
  .hide-cart {
    display: block !important;
  }
  .hide-btns {
    display: none !important;
  }
}

@media (min-width: 1320px) {
  .w1-cart {
    width: 300px;
  }
}

@media (min-width: 1450px) {
  .w2-cart {
    width: 400px;
  }
}

@media (min-width: 600px) {
  .show2-cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 960px) {
  .show3-cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1290px) {
  .show4-cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 1800px) {
  .show-4cards {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

#switch {
  position: relative;
  display: inline-block;
  width: 06px;
  height: 34px;
}

#switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f39c12;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#slide::before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;

  bottom: 4px;
  background-color: #fafafa;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
#slider.round {
  border-radius: 34px;
}

#slider.round:before {
  border-radius: 50%;
}

#filterhome {
  position: relative; /* Necesario para usar z-index */
  height: 50vh; /* Altura completa de la ventana del navegador */
  width: 100%; /* Ancho completo */
  background: linear-gradient(
      104deg,
      rgba(244, 0, 0, 0.25) 0.15%,
      rgba(144, 0, 0, 0.25) 31.42%,
      rgba(207, 117, 13, 0.25) 49.19%,
      rgba(61, 0, 0, 0.25) 69.39%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    url('/images/homeImg.png');
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  opacity: 0.9;
}
#filterbaner {
  background: linear-gradient(
      94deg,
      rgba(0, 0, 0, 0.7) 32.24%,
      rgba(243, 156, 18, 0.3) 50.72%,
      rgba(123, 0, 0, 0.3) 93.27%
    ),
    url('/images/homeImg.png');
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  opacity: 0.9;
}
